 /* Main colors I am Using */
 
 :root {
    --main-custom-rose:  #C28285;
    --main-custom-white: #EEE2DC;
    --main-custom-grey: #BAB2B5;
    --main-custom-blue: #123C69;
    --main-custom-maroon: #AC3B61;
}

p, li, h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

p {
    font-size: large;
}

/* Menu */

.custom-menu {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--main-custom-maroon);
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    position: fixed;
    z-index: 1;
}

.custom-menu ul {
    margin:0;
    padding:0;
}

.custom-menu li {
    margin-left:40px;
    font-weight: 200;
}

.custom-menu li a {
    margin:0;
    padding:0;
    text-decoration: none;
    color: white;
}

.nav-container {
    margin-right: 10px;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.nav-link {
    color:white !important;
}

.nav-item a:hover {
    text-decoration: underline;
}

.nav-item a.active {
    text-decoration: underline;
    color: var(--main-custom-grey) !important;
}

.nav-item i.active {
    color: var(--main-custom-grey) !important;
}

.nav-icon {
    display: none;
}

.title {
    color:white;
    margin: 10px;
}

/* MISC */
.paragraph-padding {
    padding: 40px;
}

.white-text {
    color: white;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.grey-background {
    border: 5px solid var(--main-custom-grey);
    background-color: var(--main-custom-grey);
}

.white-container {
    border-radius: 8px;
    background-color: var(--main-custom-white);
    margin-bottom: 5px;
}

.rose-container {
    border-radius: 8px;
    background-color: var(--main-custom-rose);
    margin-top: 10px;
}

@media (max-width:767px) {
    .nav-icon {
        display:list-item;
    }
    .nav-text {
        display: none;
    }
}

@media (max-width:595px) {
    p {
        font-size: medium;
    }

    .white-text {
        font-size: medium;
    }
    
}
