#about-img {
    width: 400px;
    height: 270px;
    margin-bottom: 10px;
}

.experience-paragraph {
    padding: 30px;
}

.skill-icon:first-child {
    color: var(--main-custom-blue);
}

.skill-icon:nth-child(2) {
    color: var(--main-custom-rose);
}

.skill-icon:nth-child(3) {
    color: var(--main-custom-blue);
}

.skill-icon:nth-child(4) {
    color: var(--main-custom-rose);
}

.home-icon {
    font-size: 100px;
    padding-bottom: 20px;
}

@media (max-width:767px) {
    .home-icon {
        font-size: 70px;
    }
}

@media (max-width:595px) {
    #about-img {
        width: 300px;
        height: 200px;
    }
}
