.horizontal-img {
    height: 300px;
    width: 450px;
}

.vertical-img {
    height: 400px;
    width: auto;
}

.custom-horizontal-img {
    height: 280px;
    width: 500px;
}

.img-container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #123C69;
}

.img-container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 30px;
    text-align: center;
}

.sm-padding {
    padding-top: 22%;
}

.md-padding {
    padding-top: 25%;
}

.lg-padding {
    padding-top: 50%;
}

.xl-padding {
    padding-top: 55%;
}

/* Grid Box */
.grid-container {
    display: grid;
    grid-template-rows: 0fr 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "header header header"
        "misc-text misc-text misc-text"
        "left-box middle-box right-box"
    ;
}
.main-header {
    grid-area: header;
    display: flex;
}

.main-text {
    grid-area: misc-text;
}

.grid-col-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main-left-box {
    grid-area: left-box;
}

.main-middle-box {
    grid-area: middle-box;
}

.main-right-box {
    grid-area: right-box;
}

.interest-icon {
    font-size: 160px;
    color: var(--main-custom-blue);
}

@media (max-width:1319px) {
    .horizontal-img, .vertical-img {
        margin-bottom: 20px;
    }
    .custom-horizontal-img {
        height: 200px;
        width: 400px;
    }
    .vertical-img {
        height: 300px;
    }
    .horizontal-img {
        width: 400px;
        height: 250px;
    }
}

@media (max-width:850px) {
    .interest-icon {
        font-size: 110px;
    }
}

@media (max-width:500px) {
    .interest-icon {
        font-size: 90px;
    }
}
